.Home {
  height: 100%;

  .center-it {
    margin: 8% auto auto;

    img {
      opacity: 0.5;
    }

    .title {
      font-size: 75px;
      color: #a5a5a5;
    }

    .description {
      margin-bottom: 10px;
      color: #717171;
      font-size: 25px;
    }

    .social {
      color: #a5a5a5;
      font-size: small;
      margin-bottom: 10px;

      .ask {
        a {
          color: #6a6aff;
          text-decoration: none;
        }
      }
    }
  }
}
