.App {
  height: 100%;
  padding-top: 20px;
  background: #fbfbfb;

  .mobile-only-banner {
    background-color: #ffff007a;
    border-bottom: 1px solid #d2d200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: small;
    margin-bottom: 5px;
    color: #757500;
    text-align: center;
  }

  .mobile-only-banner-padding {
    padding-top: 50px;
  }
}
